@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand';
}

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.banner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
  width: 100%;
}

.banner h1 {
  color: #fff;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
}

.banner h3 {
  color: #ddd;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.logo {
  font-size: 2rem;
  -webkit-text-stroke: 0.1em #fff;
  color: transparent;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .navigation-link {
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  margin-right: 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: color 0.3s;
}

.navigation .navigation-link:hover {
  color: #ccc;
}

.header {
  width: 100%;
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
  background-color: #262b32;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.header-contact-us-btn {
  margin-right: 2rem;
  background-color: white;
  padding: 1rem;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.header-contact-us-btn span {
  font-size: 0.875rem;
}

.header-contact-us-btn div:first-child {
  display: flex;
  align-items: center;
}

.feather-40 {
  width: 2.5rem;
  height: 2.5rem;
}

.header-contact-us-btn-tel {
  font-weight: 500;
}

.header-cta {
  margin-top: 10rem;
  background: #12664f;
  color: #fff;
  padding: 1.125rem 1.75rem;
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
}

.header-cta:hover {
  color: #ccc;
}

/* MOBILE VERSION */
@media only screen and (max-width: 500px) {
  .logo {
    font-size: 1.25rem;
  }
  .navbar {
    padding: 0 1.8rem;
    height: 5rem;
  }
  .navigation {
    display: none;
  }
}
